
.nav {
  display: flex;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  height: 10vh;
  /* background-color: rgb(9, 255, 0); */
  color: white;
  gap: 2rem;
  justify-content: right;
  align-items: center;
  padding-right: 4rem;
}
.hero-page1{
    display: flex;
    flex-direction: row;
    height: 90vh;
    gap: 5rem;
}
.hero-text{
    display: flex;
    flex-direction: column;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 3rem;
  margin-top: 16vh;
  margin-left: 10vw;
}
.hero-img-container{
    height:89vh;
    width: 46vw;

}
.hero-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.icons{
    margin-right: 2rem;
    gap: 1rem;
    margin-top: 2rem;
}


.btn{
    background-color: #FFD700;
    color: black;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    margin-right: 2rem;
}